In [1]:
import io
import pandas as pd
import os
import requests
from acquire import get_items, new_stores, get_stores, get_sales, combined_data, new_items

In [2]:
base_url = 'https://python.zgulde.net/'
response = requests.get(base_url + '/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [3]:
response = requests.get('https://python.zgulde.net/api/v1/items')

In [4]:
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [5]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

In [6]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [7]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

max_page: 3
next_page: /api/v1/items?page=3

In [8]:
data['payload']['items'][:1]

[{'item_brand': 'Doctors Best',
  'item_id': 21,
  'item_name': 'Doctors Best Best Curcumin C3 Complex 1000mg Tablets - 120 Ct',
  'item_price': 8.09,
  'item_upc12': '753950001954',
  'item_upc14': '753950001954'}]

In [9]:
items_df = pd.DataFrame(data['payload']['items'])

In [10]:
items_df

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Doctors Best,21,Doctors Best Best Curcumin C3 Complex 1000mg T...,8.09,753950001954,753950001954
1,Betty Crocker,22,Betty Crocker Twin Pack Real Potatoes Scallope...,7.31,16000288829,16000288829
2,Reese,23,Reese Mandarin Oranges Segments In Light Syrup,1.78,70670009658,70670009658
3,Smart Living,24,Smart Living Charcoal Lighter Fluid,5.34,688267084225,688267084225
4,Hood,25,Hood Latte Iced Coffee Drink Vanilla Latte,2.43,44100117428,44100117428
5,Triaminic,26,Triaminic Syrup Night Time Cold & Cough Grape 4oz,0.98,300436344045,300436344045
6,Morton,27,Morton Kosher Salt Coarse,6.01,24600017008,24600017008
7,Usda Produce,28,Guava,7.52,719175900007,719175900007
8,Heinz,29,Heinz Tomato Ketchup - 2 Ct,8.65,13000001038,13000001038
9,Petmate,30,Petmate Booda Bones Steak Bacon & Chicken Flav...,8.39,723503568678,723503568678
10,Zhenas Gypsy Tea,31,Zhenas Gypsy Tea Herbal Red Tea Sachets Fire L...,4.21,652790100226,652790100226
11,Barefoot,32,Barefoot Pinot Grigio 187,0.68,8500004528,8500004528
12,The First Years,33,Tomy The First Years Gumdrop Orthodontic Pacif...,6.52,71463060078,71463060078
13,Halls,34,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694
14,Natures Way,35,Natures Way Forskohlii - 60 Ct,5.19,33674100066,33674100066
15,Deerfields Gluten Free,36,Rice Bran Gluten Free Dinner Rolls Plain,7.95,610358991525,610358991525
16,Nakano,37,Nakano Seasoned Rice Vinegar Original,9.59,73575295003,73575295003
17,Sundown Naturals,38,Sundown Naturals Essential Electrolytes Tropic...,3.45,30768540548,30768540548
18,Munchies,39,Munchies Sandwich Crackers Cheddar Cheese On G...,9.02,28400029254,28400029254
19,Amys,40,Amys Light & Lean Spaghetti Italiano,0.60,42272008063,42272008063

In [11]:
data['payload']['max_page']

3

In [12]:
url = 'https://python.zgulde.net/api/v1/items'
items_list = []
response = requests.get(url)
data = response.json()
n = data['payload']['max_page']

for i in range(1, n + 1):
    new_url = url + '?page=' + str(i)
    response = requests.get(new_url)
    data = response.json()
    page_items = data['payload']['items']
    items_list += page_items
    
items_df = pd.DataFrame(items_list)

In [13]:
items_df.shape

(50, 6)

In [14]:
base_url = 'https://python.zgulde.net/'
response = requests.get(base_url + '/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [15]:
response = requests.get('https://python.zgulde.net/api/v1/stores')
data = response.json()
data

{'payload': {'max_page': 1,
  'next_page': None,
  'page': 1,
  'previous_page': None,
  'stores': [{'store_address': '12125 Alamo Ranch Pkwy',
    'store_city': 'San Antonio',
    'store_id': 1,
    'store_state': 'TX',
    'store_zipcode': '78253'},
   {'store_address': '9255 FM 471 West',
    'store_city': 'San Antonio',
    'store_id': 2,
    'store_state': 'TX',
    'store_zipcode': '78251'},
   {'store_address': '2118 Fredericksburg Rdj',
    'store_city': 'San Antonio',
    'store_id': 3,
    'store_state': 'TX',
    'store_zipcode': '78201'},
   {'store_address': '516 S Flores St',
    'store_city': 'San Antonio',
    'store_id': 4,
    'store_state': 'TX',
    'store_zipcode': '78204'},
   {'store_address': '1520 Austin Hwy',
    'store_city': 'San Antonio',
    'store_id': 5,
    'store_state': 'TX',
    'store_zipcode': '78218'},
   {'store_address': '1015 S WW White Rd',
    'store_city': 'San Antonio',
    'store_id': 6,
    'store_state': 'TX',
    'store_zipcode': '78220'},
   {'store_address': '12018 Perrin Beitel Rd',
    'store_city': 'San Antonio',
    'store_id': 7,
    'store_state': 'TX',
    'store_zipcode': '78217'},
   {'store_address': '15000 San Pedro Ave',
    'store_city': 'San Antonio',
    'store_id': 8,
    'store_state': 'TX',
    'store_zipcode': '78232'},
   {'store_address': '735 SW Military Dr',
    'store_city': 'San Antonio',
    'store_id': 9,
    'store_state': 'TX',
    'store_zipcode': '78221'},
   {'store_address': '8503 NW Military Hwy',
    'store_city': 'San Antonio',
    'store_id': 10,
    'store_state': 'TX',
    'store_zipcode': '78231'}]},
 'status': 'ok'}

In [16]:
data['payload']['stores']

[{'store_address': '12125 Alamo Ranch Pkwy',
  'store_city': 'San Antonio',
  'store_id': 1,
  'store_state': 'TX',
  'store_zipcode': '78253'},
 {'store_address': '9255 FM 471 West',
  'store_city': 'San Antonio',
  'store_id': 2,
  'store_state': 'TX',
  'store_zipcode': '78251'},
 {'store_address': '2118 Fredericksburg Rdj',
  'store_city': 'San Antonio',
  'store_id': 3,
  'store_state': 'TX',
  'store_zipcode': '78201'},
 {'store_address': '516 S Flores St',
  'store_city': 'San Antonio',
  'store_id': 4,
  'store_state': 'TX',
  'store_zipcode': '78204'},
 {'store_address': '1520 Austin Hwy',
  'store_city': 'San Antonio',
  'store_id': 5,
  'store_state': 'TX',
  'store_zipcode': '78218'},
 {'store_address': '1015 S WW White Rd',
  'store_city': 'San Antonio',
  'store_id': 6,
  'store_state': 'TX',
  'store_zipcode': '78220'},
 {'store_address': '12018 Perrin Beitel Rd',
  'store_city': 'San Antonio',
  'store_id': 7,
  'store_state': 'TX',
  'store_zipcode': '78217'},
 {'store_address': '15000 San Pedro Ave',
  'store_city': 'San Antonio',
  'store_id': 8,
  'store_state': 'TX',
  'store_zipcode': '78232'},
 {'store_address': '735 SW Military Dr',
  'store_city': 'San Antonio',
  'store_id': 9,
  'store_state': 'TX',
  'store_zipcode': '78221'},
 {'store_address': '8503 NW Military Hwy',
  'store_city': 'San Antonio',
  'store_id': 10,
  'store_state': 'TX',
  'store_zipcode': '78231'}]

In [17]:
url = 'https://python.zgulde.net/api/v1/stores'
stores_list = []
response = requests.get(url)
data = response.json()
n = data['payload']['max_page']
for i in range(1, n+1):
    new_url = url+"?page="+str(i)
    response = requests.get(new_url)
    data = response.json()
    page_stores = data['payload']['stores']
    stores_list += page_stores

stores_df = pd.DataFrame(stores_list)

In [18]:
stores_df

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

In [19]:
sales_list = []
response = requests.get('https://python.zgulde.net/api/v1/sales')

In [20]:
data = response.json()

In [21]:
n = data['payload']['max_page']

In [22]:
url = 'https://python.zgulde.net/api/v1/sales'
for i in range(1, n+1):
    new_url = url+"?page="+str(i)
    response = requests.get(new_url)
    data = response.json()
    page_sales = data['payload']['sales']
    sales_list += page_sales

In [23]:
sales_df = pd.DataFrame(sales_list)
sales_df

        item  sale_amount                      sale_date  sale_id  store
0          1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1          1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2          1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3          1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4          1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1
...      ...          ...                            ...      ...    ...
912995    50         63.0  Wed, 27 Dec 2017 00:00:00 GMT   912996     10
912996    50         59.0  Thu, 28 Dec 2017 00:00:00 GMT   912997     10
912997    50         74.0  Fri, 29 Dec 2017 00:00:00 GMT   912998     10
912998    50         62.0  Sat, 30 Dec 2017 00:00:00 GMT   912999     10
912999    50         82.0  Sun, 31 Dec 2017 00:00:00 GMT   913000     10

[913000 rows x 5 columns]

In [24]:
items_df.to_csv('items.csv', index = False)
stores_df.to_csv('stores.csv', index = False)
sales_df.to_csv('sales.csv', index = False)

In [25]:
sales_df = sales_df.rename(columns = {'item':'item_id'})

In [26]:
df = sales_df.merge(items_df, on = 'item_id', how = 'left')

In [27]:
df = df.rename(columns = {'store':'store_id'})

In [28]:
df = df.merge(stores_df ,on = 'store_id', how = 'left')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item_id        913000 non-null  int64
 1   sale_amount    913000 non-null  float64
 2   sale_date      913000 non-null  object
 3   sale_id        913000 non-null  int64
 4   store_id       913000 non-null  int64
 5   item_brand     913000 non-null  object
 6   item_name      913000 non-null  object
 7   item_price     913000 non-null  float64
 8   item_upc12     913000 non-null  object
 9   item_upc14     913000 non-null  object
 10  store_address  913000 non-null  object
 11  store_city     913000 non-null  object
 12  store_state    913000 non-null  object
 13  store_zipcode  913000 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 104.5+ MB

In [30]:
df.to_csv('store_item_sales.csv')

In [31]:
url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'
download = requests.get(url).content

In [32]:
power_df = pd.read_csv(io.StringIO(download.decode('utf-8')))

In [33]:
power_df.to_csv('power.csv')

In [34]:
items = get_items()

In [35]:
items

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036
5,Sally Hansen,6,Sally Hansen Nail Color Magnetic 903 Silver El...,6.93,74170388732,74170388732
6,Twinings Of London,7,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004
7,Lea & Perrins,8,Lea & Perrins Marinade In-a-bag Cracked Pepper...,1.68,51600080015,51600080015
8,Van De Kamps,9,Van De Kamps Fillets Beer Battered - 10 Ct,1.79,19600923015,19600923015
9,Ahold,10,Ahold Cocoa Almonds,3.17,688267141676,688267141676
10,Honest Tea,11,Honest Tea Peach White Tea,3.93,657622604842,657622604842
11,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211
12,Garnier Nutritioniste,13,Garnier Nutritioniste Moisture Rescue Fresh Cl...,6.47,603084234561,603084234561
13,Pamprin,14,Pamprin Maximum Strength Multi-symptom Menstru...,7.54,41167300121,41167300121
14,Suave,15,Suave Naturals Moisturizing Body Wash Creamy T...,9.11,79400847201,79400847201
15,Burts Bees,16,Burts Bees Daily Moisturizing Cream Sensitive,5.17,792850014008,792850014008
16,Ducal,17,Ducal Refried Red Beans,1.16,88313590791,88313590791
17,Scotch,18,Scotch Removable Clear Mounting Squares - 35 Ct,4.39,21200725340,21200725340
18,Careone,19,Careone Family Comb Set - 8 Ct,0.74,41520035646,41520035646
19,Usda Produce,20,Plums Black,5.62,204040000000,204040000000
20,Doctors Best,21,Doctors Best Best Curcumin C3 Complex 1000mg T...,8.09,753950001954,753950001954
21,Betty Crocker,22,Betty Crocker Twin Pack Real Potatoes Scallope...,7.31,16000288829,16000288829
22,Reese,23,Reese Mandarin Oranges Segments In Light Syrup,1.78,70670009658,70670009658
23,Smart Living,24,Smart Living Charcoal Lighter Fluid,5.34,688267084225,688267084225
24,Hood,25,Hood Latte Iced Coffee Drink Vanilla Latte,2.43,44100117428,44100117428
25,Triaminic,26,Triaminic Syrup Night Time Cold & Cough Grape 4oz,0.98,300436344045,300436344045
26,Morton,27,Morton Kosher Salt Coarse,6.01,24600017008,24600017008
27,Usda Produce,28,Guava,7.52,719175900007,719175900007
28,Heinz,29,Heinz Tomato Ketchup - 2 Ct,8.65,13000001038,13000001038
29,Petmate,30,Petmate Booda Bones Steak Bacon & Chicken Flav...,8.39,723503568678,723503568678
30,Zhenas Gypsy Tea,31,Zhenas Gypsy Tea Herbal Red Tea Sachets Fire L...,4.21,652790100226,652790100226
31,Barefoot,32,Barefoot Pinot Grigio 187,0.68,8500004528,8500004528
32,The First Years,33,Tomy The First Years Gumdrop Orthodontic Pacif...,6.52,71463060078,71463060078
33,Halls,34,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694
34,Natures Way,35,Natures Way Forskohlii - 60 Ct,5.19,33674100066,33674100066
35,Deerfields Gluten Free,36,Rice Bran Gluten Free Dinner Rolls Plain,7.95,610358991525,610358991525
36,Nakano,37,Nakano Seasoned Rice Vinegar Original,9.59,73575295003,73575295003
37,Sundown Naturals,38,Sundown Naturals Essential Electrolytes Tropic...,3.45,30768540548,30768540548
38,Munchies,39,Munchies Sandwich Crackers Cheddar Cheese On G...,9.02,28400029254,28400029254
39,Amys,40,Amys Light & Lean Spaghetti Italiano,0.60,42272008063,42272008063
40,P.f. Changs,41,P.f. Changs Home Menu Meal For Two Beef With B...,5.62,31000670016,31000670016
41,Moms Best Naturals,42,Moms Best Naturals Cereal Toasted Cinnamon Squ...,2.97,883978129115,883978129115
42,Ferrara,43,Ferrara Vanilla Syrup,8.40,71403000379,71403000379
43,Elmers,44,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403
44,Kelloggs,45,Kelloggs Disney Pixar Cars 2 Cereal,4.40,38000542237,38000542237
45,Mama Marys,46,Pizza Sauce,4.65,35457770664,35457770664
46,Bear Naked,47,Bear Naked Fit Almond Crisp 100 Percent Natura...,7.38,884623708976,884623708976
47,Dove,48,Dove Men + Care Antiperspirant Deodorant Cool ...,3.72,79400271631,79400271631
48,Easy-off,49,Easy-off Oven Cleaner Lemon Scent,9.54,62338879772,62338879772
49,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

In [36]:
stores= get_stores()
stores

             store_address   store_city  store_id store_state  store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX          78253
1         9255 FM 471 West  San Antonio         2          TX          78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX          78201
3          516 S Flores St  San Antonio         4          TX          78204
4          1520 Austin Hwy  San Antonio         5          TX          78218
5       1015 S WW White Rd  San Antonio         6          TX          78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX          78217
7      15000 San Pedro Ave  San Antonio         8          TX          78232
8       735 SW Military Dr  San Antonio         9          TX          78221
9     8503 NW Military Hwy  San Antonio        10          TX          78231

In [37]:
sales = get_sales()

In [38]:
sales.shape

(913000, 5)

In [39]:
sales

        item  sale_amount                      sale_date  sale_id  store
0          1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1          1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2          1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3          1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4          1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1
...      ...          ...                            ...      ...    ...
912995    50         63.0  Wed, 27 Dec 2017 00:00:00 GMT   912996     10
912996    50         59.0  Thu, 28 Dec 2017 00:00:00 GMT   912997     10
912997    50         74.0  Fri, 29 Dec 2017 00:00:00 GMT   912998     10
912998    50         62.0  Sat, 30 Dec 2017 00:00:00 GMT   912999     10
912999    50         82.0  Sun, 31 Dec 2017 00:00:00 GMT   913000     10

[913000 rows x 5 columns]

In [40]:
combo_loco = combined_data()

In [41]:
combo_loco

,item_id,sale_amount,sale_date,sale_id,store_id,store_address,store_city,store_state,store_zipcode,item_brand,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912995,50,63.0,"Wed, 27 Dec 2017 00:00:00 GMT",912996,10,8503 NW Military Hwy,San Antonio,TX,78231,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912996,50,59.0,"Thu, 28 Dec 2017 00:00:00 GMT",912997,10,8503 NW Military Hwy,San Antonio,TX,78231,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912997,50,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,10,8503 NW Military Hwy,San Antonio,TX,78231,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912998,50,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,10,8503 NW Military Hwy,San Antonio,TX,78231,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912999,50,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,10,8503 NW Military Hwy,San Antonio,TX,78231,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

In [42]:
data = pd.read_csv("https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv")

In [43]:
data

            Date  Consumption     Wind   Solar  Wind+Solar
0     2006-01-01   1069.18400      NaN     NaN         NaN
1     2006-01-02   1380.52100      NaN     NaN         NaN
2     2006-01-03   1442.53300      NaN     NaN         NaN
3     2006-01-04   1457.21700      NaN     NaN         NaN
4     2006-01-05   1477.13100      NaN     NaN         NaN
...          ...          ...      ...     ...         ...
4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 5 columns]

In [44]:
def get_germany_power():
    if os.path.isfile('germany_power.csv'):
        df = pd.read_csv('germany_power.csv')
        return df
    else:
        
        data = pd.read_csv("https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv")
        data.to_csv('germany_power.csv')
    return data

In [45]:
power = get_germany_power()

In [46]:
power

      Unnamed: 0        Date  Consumption     Wind   Solar  Wind+Solar
0              0  2006-01-01   1069.18400      NaN     NaN         NaN
1              1  2006-01-02   1380.52100      NaN     NaN         NaN
2              2  2006-01-03   1442.53300      NaN     NaN         NaN
3              3  2006-01-04   1457.21700      NaN     NaN         NaN
4              4  2006-01-05   1477.13100      NaN     NaN         NaN
...          ...         ...          ...      ...     ...         ...
4378        4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379        4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380        4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381        4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382        4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 6 columns]